<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/add.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <title>Edit product</title>
</head>
<header class="header_section">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="/">
                <span>
                    <p>Thanh store</p>         
                </span>
            </a>
        </nav>
    </div>
</header>
<body>
    <h1 style="color: rgb(7, 7, 7); text-align: center;">Edit product</h1>
    <form action="/edit" method="post" class="container">
    <input type="hidden" name="id" value="{{product._id}}">
        <div class="form-group">
            <label>Product Name</label>
            <input type="text" class="form-control" name="txtName" value="{{product.name}}" required />
        </div>
        <div class="form-group">
            <label>Product Price</label>
            <input type="number" class="form-control" name="txtPrice" min = "0" value="{{product.price}}" required />
        </div>
        <div class="form-group">
            <label for = "url">Product URL</label>
            <input type="url" class="form-control" name="txtPic" value="{{product.picture}}" required/>
        </div>
        <div class="form-group">
            <label>Product Quantity</label>
            <input type="number" class="form-control" name="txtQuantity" min = "0" value="{{product.quantity}}" required />
        </div>
        <br />
        <div class="button" style="text-align: center;">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</body>
</html>
